.score {
  width: 100%;
  display: flex;
  transition: 1s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.endGame .score {
  display: none;
}

.score > h1 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  margin: 2rem auto;
  color: var(--text-color);
  display: inline-block;
}

@media screen and (max-width: 1000px) {
  .score > h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .score {
    top: -20px;
  }
}

@media screen and (max-width: 500px) {
  .score > h1 {
    background-color: var(--bg-color);
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 5px #0000001a;
  }

  .endGame .score > h1 {
    padding: none;
    box-shadow: none;
    border-radius: none;
    background-color: unset;
  }

  .score > h1 {
    font-size: 2rem;
  }
}
