.score{
    width: 100%;
    display: flex;
}

.score > h1{
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin: 2rem auto;
    color: var(--text-color);
    display: inline-block;
}

@media screen and (max-width: 900px) {
    .score {
        margin-bottom: 5px;
    }

    .score > h1 {
        font-size: 2.5rem;
        margin: 0px auto;
    }
}