.board {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-block: auto;
  padding-inline: 10rem;
}

.board__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.board__card {
  width: var(--card-width);
  height: var(--card-height);
}
