.language_selection {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 0.7rem;
  z-index: 101;
  opacity: 0.5;
  transition: 0.3s ease;
}

.language_selection:hover {
  opacity: 1;
}

.language_selection > button {
  border: none;
  background: none;
  cursor: pointer;
  color: var(--text-color);
}

.language_selection > button:hover {
  opacity: 0.75;
}

.tutorial_btn > span {
  font-size: 32px;
}

.muted_filter {
  filter: grayscale(0.7);
}

@media screen and (max-width: 1000px) {
  .language_selection {
    bottom: 5px;
    left: 5px;
  }
}

@media screen and (max-width: 500px) {
  .language_selection {
    gap: 0.1rem;
  }

  .language_selection > button {
    transform: scale(0.7);
  }
}
