@keyframes selectOptionValueAnimation {
  0% {
    color: var(--primary-color);
    transform: scale(1.2);
  }

  100% {
    color: var(--text-color);
    transform: scale(1);
  }
}

.settings_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  transform: translateY(-50px);
}

.pipe {
  color: var(--muted);
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5.5rem;
  color: var(--text-color);
}

.option > * {
  font-size: 2.5rem;
}

.option_values {
  display: flex;
  gap: 3rem;
  color: var(--secondary-color-dark);
  cursor: pointer;
}

.option_value {
  transition: 0.3s ease;
}

.option_value:not(.active_option_value):hover {
  opacity: 0.6;
}

.active_option_value {
  animation: selectOptionValueAnimation 1s 1;
  color: var(--text-color);
}

@media screen and (max-width: 1100px) {
  .option > * {
    font-size: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .option > * {
    font-size: 1.5rem;
  }

  .option {
    gap: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .settings_container {
    gap: 4rem;
  }

  .option > * {
    font-size: 1rem;
  }

  .option {
    gap: 1.5rem;
  }
}
