.header {
  width: 100%;
  display: grid;
  grid-template-columns: 33.333% 33.333% 33.333%;
  align-items: center;
}

.header > img {
  width: var(--logo-width);
  height: var(--logo-height);
}

.header > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .header_menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}

.header .header_menu > button {
  width: 40px;
  height: 40px;
}

.header .header_menu > button img {
  transition: 0.3s ease;
}

.header .header_menu > button:hover img {
  opacity: 0.7;
}

.header .header_menu > button img.active {
  opacity: 1;
}

.header .header_menu span {
  font-size: 40px;
  color: var(--muted);
}

.header.hideScore > *:nth-child(2) {
  opacity: 0;
}

@keyframes selectMenuItemAnimation {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.header .header_menu span.active {
  color: var(--text-color);
  border-radius: 50%;
  animation: selectMenuItemAnimation 0.5s 1;
}

@media screen and (max-width: 850px) {
  .header {
    grid-template-rows: 1fr 1fr;
  }

  .header > div:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .header > div:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }
}

@media screen and (max-width: 470px) {
  .header {
    margin-bottom: 20px;
  }

  .header > div:nth-child(1) {
    grid-column: 2;
    grid-row: 1;
  }

  .header > div:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }

  .header > div:nth-child(3) {
    grid-column: 3;
    grid-row: 1;
  }

  .header .header_menu {
    gap: 1rem;
  }

  .header .header_menu span {
    font-size: 30px;
  }
}
