:root {
  --card-offset-y: 0.4;
}

.table {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.table__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(calc(var(--card-height) * var(--card-offset-y)));
}

.mainDeck__card {
  width: var(--card-width);
  height: var(--card-height);
  transform: translateY(calc(var(--card-height) * var(--card-offset-y)));
  transition: 0.1s ease;
}

@keyframes deathAnimation {
  0% {
    filter: grayscale(1) brightness(1);
  }

  50% {
    filter: grayscale(1) brightness(0.5);
  }

  100% {
    filter: grayscale(1) brightness(1);
  }
}

.mainDeck__dead_card {
  width: var(--card-width);
  height: var(--card-height);
  filter: grayscale(1);
  margin-top: 2rem;
  animation: deathAnimation 1s 1;
}

.card_move_down {
  transform: translateY(200px);
}

.card_move_right {
  transform: translate(50px, calc(var(--card-height) * var(--card-offset-y)));
}

.played_cards {
  position: absolute;
}

@keyframes placeCardAnimation {
  0% {
    box-shadow: 0px 0px 0px 10px var(--primary-color);
    transform: scale(1.5);
  }

  50% {
    transform: scale(1);
  }

  100% {
    box-shadow: none;
  }
}

.played_card {
  animation: placeCardAnimation 0.8s 1;
}

.table__remaining_cards {
  width: 100px;
  height: 100px;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 3rem;
  border-radius: 50%;
  font-size: 15rem;
  color: var(--secondary-color-dark);
  transform: translateY(30px);
  opacity: 0.3;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 1000px) {
  :root {
    --card-offset-y: 0.1;
  }

  .table {
    margin-top: 5px;
  }

  .table__column {
    transform: unset;
  }

  .mainDeck__dead_card {
    margin-top: 10px;
    transform: translateY(0px);
  }

  .card_move_down {
    transform: translateY(70px);
  }

  .card_move_right {
    transform: translate(20px, calc(var(--card-height) * var(--card-offset-y)));
  }

  .table__remaining_cards {
    font-size: 7rem;
    transform: translate(-5px, 10px);
  }
}
