:root {
  --card-offset-y: 0.4;
}

.table {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.table__column {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(calc(var(--card-height) * var(--card-offset-y)));
}

.mainDeck__card {
  width: var(--card-width);
  height: var(--card-height);
  transform: translateY(calc(var(--card-height) * var(--card-offset-y)));
  transition: 0.1s ease;
}

.mainDeck__dead_card {
  width: var(--card-width);
  height: var(--card-height);
  filter: grayscale(1);
  margin-top: 2rem;
}

.mainDeck__side_card {
  width: var(--card-width);
  height: var(--card-height);
  filter: opacity(1);
  margin-top: 2rem;
}

.card_move_up {
  transform: translateY(70px);
}

.card_move_right {
  transform: translate(30px, calc(var(--card-height) * var(--card-offset-y)));
}

.card_move_left {
  transform: translate(-30px, calc(var(--card-height) * var(--card-offset-y)));
}

.played_cards {
  position: absolute;
}

.table__remaining_cards{
  width: 100px;
  height: 100px;
  display: flex;
  place-content: center;
  place-items: center;
  font-size: 3rem;
  border-radius: 50%;
  font-size: 12rem;
  color: var(--secondary-color-dark);
  transform: translateY(30px);
  opacity: 0.2;
}