* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Lucida Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

:root{
  --card-width: 211px;
  --card-height: 290px;
  --key-size: 50px;
}

.app-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.key{
  width: var(--key-size);
  height: var(--key-size);
  line-height: var(--key-size);
  border-radius: 10px;
  background-color: #f2f1f1;
  box-shadow: 4px 4px 4px 0px #00000040;
  display: flex;
  place-content: center;
  place-items: center;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

@media  screen and (max-width: 1400px) {
  :root{
    --card-width: 130px;
    --card-height: 180px;
  }
}