* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Lucida Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
}

:root{
  --card-width: 211px; /* 245px */
  --card-height: 290px; /* 337px */
}

.app-container{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}